* {margin:0; padding:0;}
html, body {font-family:"微软雅黑","Helvetica Neue",helvetica,Arial,'Microsoft YaHei',sans-serif; font-size:16px; -webkit-overflow-scrolling:touch;}
a {text-decoration:none; color:#6d6b6b;}
a:hover {color:#31302f;}
ul, li {list-style:none;}
img {display:block;}
.ellipse {display:block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ellipse-8h {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:8;}
.ellipse-4h {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:4; max-height:78px;}
.ellipse-3h {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; max-height:58px;}
.fa {width:14px; text-align:center; margin-right:10px;}
.text {padding-left:0}
.col-clr-pd {padding-left:0; padding-right:0;}
.navbar-toggle {margin-top:18px;}
.main-title-center {text-align:center; font-size:1.2em;}
.second-title {text-align:center; margin-bottom:30px; padding:0 15px;}
.second-title .span01{margin:0 20px;}
.main-color {color:#205ba9;}
.clearfix:before, .clearfix:after {   /* 清除浮动 */
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
@media (max-width:1366px) {
    body {width:1366px;}

}
html{ height:100%; }

body{ min-height:100%; padding:0; margin:0; position:relative; }

.tophead{
    height: 45px;
    line-height:45px;
    background-color: #000;
	overflow: hidden;
}
.toptitle{
	height: 45px;
	line-height:45px;
    font-size: 16px;
    color: #777777;
    padding-left: 15px;
	float: left;
}
.topcontact{
	padding-right: 15px;
	font-size: 20px;
	height: 45px;
	line-height:45px;
    color: #fff;
    text-align: right;
	float: right;
	
}

.topcontact img{
	display:inline;
	vertical-align: middle;
	
}
header{
	height: 72px; 
}
nav {
	width: 1366px; /* 宽度暂且定为1366 */
	margin: 0px auto ; /*  盒子水平居中对齐 */
	height: 72px; 
	border: none;
    background-color: #fff;
    margin-bottom: 0;
}
.navbar-header{
	float: left;
	height: 72px; 
	line-height: 72px;
    color: #333;	
}
.navbar-collapse {
	float: left;
	height: 72px;
	line-height: 72px;  /* 这个行高给父亲， 行高会继承 */
	margin-left: 5px;
}
.navbar-header img{
	display:inline-block;
	vertical-align: middle;
	width:200px;
	height:72px;
}
.navbar-header h1{
	display:inline-block;
	margin-left:10px;
}
.navbar-collapse li {
	float: left;  /* 让 首页 课程 这个一行显示 */
}
.navbar-collapse li a {  
	padding: 0 10px; /*  上下 0  左右 8像素 */
	display: block; /*  a是行内元素，给高需要转换块级 */
	height: 72px;
	margin-left:5px;
}
.navbar-collapse li a:hover {
	background-color:#000;
	color:#fff
}

.banner{
	width: 100%;
	overflow: hidden;
	height: 520px;
	position: relative;
}
.banner .s_images{
	width: 5760px;
	position: absolute;
	top:0px;
	left: -1920px;
}
.banner .s_images li{
	float: left;
	background-color: transparent
}

@media (max-width:1366px) {

	.banner{
		width: 100%;
		overflow: hidden;
		position: relative;
		height: 370px;

	}
	.banner .s_images{
		width: 4098px;
		position: absolute;
		top:0px;
		left: -1366px;
	}
	.banner .s_images li{
		width: 1366px;
		float: left;
		background-color: transparent		
	}
	.banner .s_images li img{
		width: 1366px;
	}
	
	.cases_banner img{
		width: 1366px;
		
	}
	
	.cases_banner img{
		width: 1366px;
	}


}

.arrow div{
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	color: rgba(255, 255, 255, .6);
	padding: 20px 10px;
	font-size: 20px;
	width: 30px;
	height: 60px;
	line-height: 60px;
	
	
}
.prev{

	position: absolute;
	left: 0px;
	top: 47%;
    transform: translateY(-50%);
    text-align: center;
	font-family: arial;
    font-weight: normal;


}
.next{

	position: absolute;
	right: 0px;
	top: 47%;
    transform: translateY(-50%);
    text-align: center; 
    font-family: arial;
    font-weight: normal;


}

.cases_banner img{
		width: 100%;
		
}
.about_banner img{
	width: 100%;
}
.banner .circle {
    width: 68px;
    height: 20px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    left: 50%;
    bottom:20px;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 8px;
}
.banner .circle li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px;
    cursor: pointer;
}

.banner .circle .current {
    background-color: #f10215;
}

.xinda-product{
	background: #333;
	padding-bottom: 30px;
}

.xinda-product .main-title {
	color: #fff;
}

.xinda-biz{
	width: 1366px; /* 宽度暂且定为1366 */
	margin: 0px auto ; /*  盒子水平居中对齐 */
	overflow: hidden;
}

.xinda-biz div{
	float: left;
	text-align: justify;
	padding: 0 20px;
	color: #fff;
	margin-left: 10px;
	width:260px;


}

.xinda-biz div>h5{
	text-align: center;
	margin-bottom: 2px;
}

.xinda-biz div>h5>img{
	margin: 0 auto;
	width: 80px;
}


.xinda-biz div>p{
	margin: 0 0 10px;
	text-indent: 2em;
}


.main-title {
	text-align: center;
	width: 100%;
	padding: 30px 0;
}

.main-title .big-title {
	font-size: 2em;
	margin: 0 0 10px;
}
.xinda-customer{
	margin-top:30px;
}
.brand-cont-title{
	font-size: 1.5em;
    margin: 10px 0 30px;
	text-align:center;
}

.brand-desc{
	text-align:center;
	overflow: hidden;
    color: #787878;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
	margin-bottom:20px;
}

.xinda-service{
	background: #333;
	padding-bottom: 30px;
}

.xinda-service .main-title {
	color: #fff;
}

.xinda-service-content{
	width: 1366px; /* 宽度暂且定为1366 */
	margin: 0px auto ; /*  盒子水平居中对齐 */
	overflow: hidden;
}

.xinda-service-content div{
	margin-left: 10px;
	width:260px;
	float: left;
	margin: 0 2%;
    background: #fff;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 8px rgba(1, 31, 132, 0.2);


}

.xinda-choose-content>p {
    font-size: 1.5em;
    color: #000;
}

.xinda-choose-content ul {
    display: table;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}
.xinda-choose-content ul li {
    display: table-cell;
    vertical-align: middle;
}

.xinda-choose-content ul li p {
    margin: 0;
}

.container {  /* 因为我们的版心宽度都是1200 都要居中对齐 我们就声明一个公共类 */
	width: 1366px;
	margin: 0 auto;
}

.main-wrap {
    margin-top: 50px;
	overflow:hidden;
	padding-bottom: 60px;
	margin-bottom:0px;
}

.main-wrap div{
	float: left;
}
.main-wrap-left{
	width: 653px;
	display: table;
    min-height: 245px;
	padding-right: 15px;
    padding-left: 15px;
}

.main-wrap-left ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.main-wrap-left ul li h5 {
    font-size: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 15px;
	margin-top: 10px;
    margin-bottom: 10px;
	color:#333333;
}
.text-left {
    text-align: left;
}
.text-left p{
	margin: 0 0 10px;
	color:#333333;
	
}
.main-wrap-right{
	width:653px;
	display: table;
    min-height: 245px;
	padding-right: 15px;
    padding-left: 15px;
}

.main-wrap-right ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

footer {
	position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px auto;
	text-align: center;
    color: #787878;
}

.copyright {
    padding: 16px;
    text-align: center;
	height:24px;
    line-height: 24px;
    background-color: #2F2F2F;
    color: #868686;
    font-size: 12px;
}

.main-content{
 padding-bottom:70px;
 
}
.pagination{
 
  height:50px;
  line-height:50px;
  text-align:center;
}

.pagination  li{
  display:inline-block;
}

.pagination a {
  text-decoration: none;
  padding: 5px 12px;
  margin: 2px;
  color: black;
  border: 1px solid lightgray;

}

.pagination a:hover{
  background: #CCCCCC;
}

.pagination a.cur{

  background: #4CAF50;

  color: #FFFFFF;

}