
.solutionbox{
	padding-top: 30px;
	
}

.solutionbox .title_box {
    text-align: center;
	
}

.solutionbox .title_box .h2 {
    font-size: 30px;
    color: #1a1b19;
    margin: 10px 0;
	
}

.solutionbox.title_box p {
    font-size: 16px;
    color: #999;
	
}

.solutionbox .solution {
    margin-top: 60px;
}

.solutionbox .solution ul {
    width: 1366px;
}

.solutionbox .solution li {
    float: left;
    width: 264px;
    text-align: center;
    margin-right: 48px;
    margin-bottom: 32px;
}

.solutionbox .solution li dl dt {
    margin-bottom: 7px;
    width: 264px;
    height: 134px;
    overflow: hidden;
}

.solutionbox .solution li dl dt img {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -ms-transition: -ms-transform 0.4s ease-out;
}

.solutionbox .solution li dl dd {
    color: #999;
    font-size: 12px;
    line-height: 24px;
}

.solutionbox .solution li dl dd i {
    font-style: normal;
    color: #333;
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
}